<div class="container content">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <span class="anchor" id="formLogin"></span>
      <!-- form	card	login	with	validation	feedback	-->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Registrar destino</h3>
        </div>
        <div class="card-body">
          <app-form-travel-destination (onItemAdded)="Save($event)"></app-form-travel-destination>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5">
  <div class="row row-flex">
    <app-travel-destination *ngFor="let item of all; let i = index" [destination]="item" [idx]="i" (onClicked)="DestinationSelected(item)" appEspiame></app-travel-destination>
  </div>
  <hr class="mb-5">
  <div class="row row-flex">
    <h5>Actividad</h5>
    <ul>
      <li *ngFor="let item of updates;" >{{item}}</li>
    </ul>
  </div>
</div>

